services:

  mysql:
    image: mysql:8
    container_name: mysql
    # restart: always
    environment:
      MYSQL_ROOT_PASSWORD: divya
    volumes:
      - ./mysql-init.sql:/docker-entrypoint-initdb.d/mysql-init.sql
    # ports:
    #   - "3307:3306"


  eureka-server:
    build: ./eureka-FlightManagmentSystem-1
    container_name: eureka-server
    # restart: always
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILE_ACTIVE=docker

  config-server:
    build: ./congif_server
    container_name: config-server
    # restart: always
    depends_on:
      - eureka-server
    ports:
      - "8888:8888"
    environment:
      - SPRING_PROFILE_ACTIVE=docker

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    # restart: always
    depends_on:
      - config-server
      - eureka-server
    ports:
      - "8123:8123"
    environment:
      - SPRING_PROFILE_ACTIVE=docker

  simple-security:
    build: ./simpleSecurity
    container_name: simple-security
    # restart: always
    depends_on:
      - mysql
      - config-server
      - eureka-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_CONFIG_IMPORT= optional:configserver:http://config-server:8888
    ports:
      - "8085:8085"
   

  flight-service:
    build: ./Flight-Service-FlightManagmentSystem
    container_name: flight-service
    # restart: always
    depends_on:
      - mysql
      - config-server
      - eureka-server
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILE_ACTIVE=docker

  booking-service:
    build: ./Booking-Service-FlightManagmentSystem
    container_name: booking-service
    # restart: always
    depends_on:
      - mysql
      - config-server
    ports:
      - "8083:8083"
    environment:
      - SPRING_PROFILE_ACTIVE=docker
