version: "3.8"

services:

  # MYSQL DATABASE
  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: divya
      MYSQL_DATABASE: flightdb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  # RABBITMQ
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  # EUREKA SERVER
  eureka-server:
    image: eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    depends_on:
      - mysql

  # CONFIG SERVER (OPTIONAL)
  config-server:
    image: config-server
    container_name: config-server
    ports:
      - "8888:8888"
    depends_on:
      - eureka-server

  # API GATEWAY
  api-gateway:
    image: api-gateway
    container_name: api-gateway
    ports:
      - "8123:8123"
    depends_on:
      - eureka-server

  # FLIGHT SERVICE
  flight-service:
    image: flight-service
    container_name: flight-service
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      - eureka-server

  # BOOKING SERVICE
  booking-service:
    image: booking-service
    container_name: booking-service
    ports:
      - "8083:8083"
    depends_on:
      - mysql
      - rabbitmq
      - eureka-server

  # SIMPLE SECURITY SERVICE
  simple-security:
    image: simplesecurity
    container_name: simple-security
    ports:
      - "8085:8085"
    depends_on:
      - mysql
      - eureka-server

volumes:
  mysql_data:
